:root {
    --white: hsl(0, 0%, 100%);

    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    
    --brown-800: hsl(14, 45%, 36%);
    
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);
}


@font-face {
    font-family: Outfit;
    src: url('/src/fonts/outfit/static/Outfit-Regular.ttf');
    font-weight: 400; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: Outfit;
    src: url('/src/fonts/outfit/static/Outfit-SemiBold.ttf');
    font-weight: 600; /* SemiBold */
    font-style: normal;
}

@font-face {
    font-family: Outfit;
    src: url('/src/fonts/outfit/static/Outfit-Bold.ttf');
    font-weight: 700; /* Bold */
    font-style: normal;
}

@font-face {
    font-family: YoungSerif; /* Headings */
    src: url('/src/fonts/young-serif/YoungSerif-Regular.ttf');
}

h1, h2, h3, h4, h5, h6 {
 font-family: YoungSerif;
}

h2, h3, h4, h5, h6 {
    color: var(--brown-800);
}
